@import "tailwindcss";

@theme {
    --color-navy: #0B1F3A;
    --color-medical: #1666B0;
    --color-skysoft: #DCEEFF;
    --color-paper: #F7FBFF;
}

@layer base {
    body {}

}

@layer components {

}

@layer utilities {

}